.recordvideo {
  position: relative;
  width: 600px;
  margin: auto;
  margin-top: 100px;
}

.onvideo {
  position: relative;
  margin: auto;
  left: 16px;
  top: 16px;
  width: 800px;
  height: 520px;
  /* margin-left: 10%; */
}

.overvideo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 17px;
  width: 800px;
  height: 520px;
  /* margin-left: 10%; */
}

.scriptComponent {
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}

.blank {
  margin-top: 10px;
}

.videoBox{
  margin-left: 100px;
}
