.post {
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px 0px #d5d5d5;
  .content {
    padding: 20px;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    .body {
      padding: 10px 0;
    }
    .info {
      display: flex;
      align-items: center;
      padding-top: 10px;
      .nickname {
        font-size: 16px;
        margin-right: 10px;
      }
      .date {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
  .itmes {
    display: flex;
    justify-content: space-around;
    border-top: solid 1px #d5d5d5;
    padding: 15px;
    .like {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        padding-left: 10px;
      }
    }
    .comment {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        padding-left: 10px;
      }
    }
  }
}
