.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #939393;
    border-radius: 30px;

    width: 17vw;
    height: 40vh;
    margin: 30px;
;

    .newandbookmark {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .new {

        }
        .bookmark {
            
        }

    }

    .date {

    }

    .title {

    }

    .actor {

    }

    .category {

    }

    .line {

    }

    .subinfo {

    }
}