.script{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 12px;
  overflow:scroll;
}

.scripttext{
  width: 100%;
  padding: 5%;
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}