.script{
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 12px;
  overflow:scroll;
}

.scripttext{
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}