.video {
  border: 1px solid #000000;
  padding: 30px;
  margin: 10px;
  width: 20%;
  min-width: 300px;
  height: 300px;
  border-radius: 1rem;
  cursor: pointer;
  .title {
    font-weight: bold;
    font-size: 20px;
  }
}
