.container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      height: 25vh;
      width: 100%;
      overflow: hidden;
  
      .bookimg {
        width: 100%;
        opacity: 0.4;
        overflow: hidden;
      }
      .text {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          color: #111827;
          margin-bottom: 3vh;
          z-index: 1;
        }
        .subtitle {
          color: #5c677d;
          z-index: 1;
        }
      }
    }
    .filter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      
      .search {
        width: 80%;
        display: flex;
        flex-direction: row;
        margin-top: 3vh;

        .selectbox {
          width: 150px;
          height: 40px;
          

        }

        .searchText {
          padding: 20px;
          height: 40px;
          width: 670px;
          border: none;
          outline: none;
          font-size: 16px;
          background: transparent;
        }
        .searchbtn {
          // display: flex;
          // justify-content: center;
          // align-items: center;
          background: transparent;
          border: none;
          cursor: pointer;
        }

      }

      .filterButton {
        width: 80%;
        display: flex;
        flex-flow: row wrap;
      }
    }
    .script {
      .sorting {
        display: flex;
        flex-direction: row;
      }
      .scripts {
      }
    }
  }
  