.container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    .info {
        

    }
    .subinfo {

    }
    .script {
        display: flex;
        justify-content: center;
        align-items: center;
        .detail {

        }
        .edit {

        }
    }
    .route {
        .button {

        }
    }

}