.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #939393;
  border-radius: 30px;
  min-width: 300px;
  width: 40%;
  height: 40vh;
  margin: 20px;
  padding: 10px;
  cursor: pointer;

  .newandbookmark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .bookmark {
    }
  }

  .scriptContent {
    .date {
    }

    .title {
    }

    .actor {
    }

    .category {
      display: flex;
      flex-direction: row;

      .round {
        margin-right: 5px;
        padding: 3px 10px;
        border: 1px solid #6f6f6f;
        display: flex;
        align-items: center;
        text-align: center;

        color: #6f6f6f;
        font-style: normal;

        border-radius: 40px;
        background-color: transparent;
      }
    }

    .line {
      width: 240px;
      height: 0px;
      left: 439px;
      top: 918px;

      border: 1px solid #000000;
      transform: rotate(0.23deg);
    }

    .subinfo {
      display: flex;
      flex-direction: row;
      // justify-content: space-around;
    }
  }
}
