.nav {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  margin: 0;
  padding: 0;
  height: 5vh;
  .logo {
    background-color: yellow;
    width: 20%;
  }
  .menu {
    background-color: blue;
    width: 60%;
  }
  .login {
    background-color: violet;
    width: 20%;
  }
}
