.home {
  text-align: center;
  padding: 10vh 10vh 5vh 10vh;
  color: #0d0d10;
  h1 {
    font-family: 'Pretendard-Bold';
    font-size: 54px;
    line-height: 120%;
    margin: 0 0 20px 0;
  }
  div {
    font-family: 'Pretendard-Light';
    font-size: 18px;
    margin: 0 0 18px 0;
    color: #818287;
  }
  img {
    display: block;
    margin: 10px auto;
  }
}

.introduce {
  text-align: center;
  padding: 18vh;
  background-color: #093759;
  color: white;
  font-size: 18px;
  h1 {
    color: #6fba93;
    margin-bottom: 30px;
  }
  div {
    font-family: 'Pretendard-Light';
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 18px 0;
    color: #f2f6f9;
  }
}

.smart {
  display: flex;
  padding: 12vh;
  background-color: white;
  font-size: 18px;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    color: #f66d56;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .content {
    font-size: 18px;
    color: #5c677d;
    line-height: 140%;
  }
}

.easy {
  display: flex;
  padding: 12vh;
  background-color: white;
  font-size: 18px;
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    color: #6880e1;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .content {
    font-size: 18px;
    color: #5c677d;
    line-height: 140%;
  }
}

.simple {
  display: flex;
  padding: 12vh;
  background-color: white;
  font-size: 18px;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    color: #2ad0b9;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .content {
    font-size: 18px;
    color: #5c677d;
    line-height: 140%;
  }
}

.exciting {
  display: flex;
  padding: 12vh;
  background-color: white;
  font-size: 18px;
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    color: #e4bb73;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .content {
    font-size: 18px;
    color: #5c677d;
    line-height: 140%;
  }
}
