.container {
  display: flex;
  flex-direction: column;
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 25vh;
    width: 100%;
    overflow: hidden;

    .bookimg {
      position: absolute;
      width: 100%;
      opacity: 0.4;
    }
    h1 {
      color: #111827;
      margin-bottom: 3vh;
      z-index: 1;
    }
    .subtitle {
      color: #5c677d;
      z-index: 1;
    }
  }
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 25vh;
    width: 100%;
    .search {
      margin-bottom: 5vh;
    }
    .options {
    }
  }
  .script {
    .sorting {
    }
    .script {
    }
  }
}
