@media only screen and (max-width: 640px) {
  .dashboard-right {
    display: none;
  }
}

.textfield{
  margin-left: 70px;
  margin-top: 50px;
}

.emotiongraph{
  margin-top: 150px;
  
}
/* 
.dashboard{
  justify-content: center;
} */