@media only screen and (max-width: 640px) {
  .dashboard-right {
    display: none;
  }
}

// .emotiongraph{
//   margin-top: 150px;
  
// }

.flexBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
.dashboard{
  justify-content: center;
} */