@media only screen and (max-width: 640px) {
  .dashboard-right {
    display: none;
  }
}

.emotiongraph{
  width: 80%;
  padding: 10% 0;
}

.textfield{
  width: 80%;
  padding: 10% 0;
}

.flexBox{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
.dashboard{
  justify-content: center;
} */